<%
  title "Most Popular Gems"
  header_title "Most Popular Gems"
%>

<ul role="list" class="divide-y divide-gray-100">
  <% @gems.each do |gem| %>
  <li class="flex flex-wrap items-center justify-between py-5 gap-x-6 gap-y-4 sm:flex-nowrap">
    <div>
      <p class="text-lg font-semibold leading-6 text-gray-900">
        <%= gem.name %>
      </p>
      <div class="flex items-center mt-1 text-xs leading-5 text-gray-500 gap-x-2">
        <p class="flex"></p>
        <p>
          
        </p>
      </div>
    </div>
    <div class="text-right">
      <div class="text-sm">
        <b><%= gem.count %></b> gemfiles
      </div>
    </div>
  </li>
  <% end %>
</ul>