<%
  title "Most Popular Gems"
  header_title "Most Popular Gems"
%>

<ul role="list" class="divide-y divide-gray-100">
  <% @gems.each do |gem| %>
  <li class="flex items-center justify-between py-5 gap-x-8 gap-y-4">
    <div>
      <p class="text-lg font-semibold leading-6 text-gray-900">
        <%= gem.name %> <span><%= link_to '<i class="text-sm text-neutral-400 fa-solid fa-link hover:text-amber-300"></i>'.html_safe, gem.details['homepage_uri'] %></span>
      </p>
      <div class="flex items-center mt-1 text-xs leading-5 text-gray-500 gap-x-2">
        <p>
          <%= gem.details['info'] %>
        </p>
      </div>
    </div>
    <div class="text-sm text-right whitespace-nowrap">
      <b><%= gem.count %></b> gemfiles
    </div>
  </li>
  <% end %>
</ul>