@tailwind base;
@tailwind components;
@tailwind utilities;

.turbo-progress-bar {
  height: 3px;
  background-color: #fcd34d;
}

.tippy-box[data-theme~='light'] {
  padding: 10px;
}

@layer base {
  @font-face {
    src: url(woff2/0-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+0020-007F;
  }

  @font-face {
    src: url(woff2/1-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+0020-007F;
  }

  @font-face {
    src: url(woff2/2-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+2000-206F;
  }

  @font-face {
    src: url(woff2/3-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+2000-206F;
  }

  @font-face {
    src: url(woff2/4-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+2070-209F;
  }

  @font-face {
    src: url(woff2/5-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+2070-209F;
  }

  @font-face {
    src: url(woff2/6-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+2600-26FF;
  }

  @font-face {
    src: url(woff2/7-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+2600-26FF;
  }

  @font-face {
    src: url(woff2/8-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+20A0-20CF;
  }

  @font-face {
    src: url(woff2/9-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+20A0-20CF;
  }

  @font-face {
    src: url(woff2/10-normal.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    unicode-range: U+2200-22FF;
  }

  @font-face {
    src: url(woff2/11-italic.woff2) format("woff2");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    unicode-range: U+2200-22FF;
  }
}